<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/stylesheet/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<script src="view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="screen" />
{% for style in styles %}
<link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<script src="view/javascript/common.js" type="text/javascript"></script>
{% for script in scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

            {% if config_admin_date_auth == 1 %}    
			<script language="JavaScript" type="text/javascript">
function clock() {
var d = new Date();
var month = d.getMonth()
var day = d.getDate();
var hours = d.getHours();
var minutes = d.getMinutes();
var seconds = d.getSeconds();

if (month == 0) month = "{{ text_january }}"
 else if (month == 1) month = "{{ text_february }}"
 else if (month == 2) month = "{{ text_march }}"
 else if (month == 3) month = "{{ text_april }}"
 else if (month == 4) month = "{{ text_may }}"
 else if (month == 5) month = "{{ text_june }}"
 else if (month == 6) month = "{{ text_july }}"
 else if (month == 7) month = "{{ text_august }}"
 else if (month == 8) month = "{{ text_september }}"
 else if (month == 9) month = "{{ text_october }}"
 else if (month == 10) month = "{{ text_november }}"
 else if (month == 11) month = "{{ text_december }}";

if (day <= 9) day = "0" + day;
if (hours <= 9) hours = "0" + hours;
if (minutes <= 9) minutes = "0" + minutes;
if (seconds <= 9) seconds = "0" + seconds;

date_time =+ day + " " + month + " " + d.getFullYear() +
"{{ text_year }}<br />"+ hours + ":" + minutes + ":" + seconds;
if (document.layers) {
 document.layers.doc_time.document.write(date_time);
 document.layers.doc_time.document.close();
}
else document.getElementById("doc_time").innerHTML = date_time;
 setTimeout("clock()", 1000);
}
</script>{% endif %}
			
</head>
<body>
<div id="container">
<header id="header" class="navbar navbar-static-top">
  <div class="container-fluid">

  
    
				<div id="header-logo" class="navbar-header"><a href="{{ home }}" class="navbar-brand" style="padding: 7px 15px;"><img src="{{ logo_thumb }}" alt="{{ config_footer_text }}" title="{{ config_footer_text }}" /></a></div>
				
			
    <a href="#" id="button-menu" class="hidden-md hidden-lg"><span class="fa fa-bars"></span></a>{% if logged %}
    
    

    

            {% if config_admin_date_auth == 1 %}
            <style>@media screen and (max-width: 600px) {
  #doc_time {
    display: none;
  }
}</style>
			<div id="doc_time" style="float:left;top:10px;left:16px;min-height:45px;padding:7px 20px;">
                <script language="JavaScript" type="text/javascript">clock();</script>
            </div>
            {% endif %}
			
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ username }}" id="user-profile" class="img-circle" />{{ firstname }} {{ lastname }} <i class="fa fa-caret-down fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="{{ profile }}"><i class="fa fa-user-circle-o fa-fw"></i> {{ text_profile }}</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">{{ text_store }}</li>
          {% for store in stores %}
          <li><a href="{{ store.href }}" target="_blank">{{ store.name }}</a></li>
          {% endfor %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">{{ text_help }}</li>
          <li><a href="http://www.opencart.com" target="_blank"><i class="fa fa-opencart fa-fw"></i> {{ text_homepage }}</a></li>
          <li><a href="http://docs.opencart.com" target="_blank"><i class="fa fa-file-text-o fa-fw"></i> {{ text_documentation }}</a></li>
          <li><a href="http://forum.opencart.com" target="_blank"><i class="fa fa-comments-o fa-fw"></i> {{ text_support }}</a></li>
        </ul>
      </li>
      <li><a href="{{ logout }}"><i class="fa fa-sign-out"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_logout }}</span></a></li>
    </ul>
    {% endif %} </div>
</header>
